* {
  margin: 0%;
  padding: 0%;
}
body{
    background-color: #f7f7f7;
}
.header {
  background-color: #233142;
  color: #eeeeee;
  height: 60px;
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
  cursor: default;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin-top: 50px;
}
.choice {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.choices :hover {
  background-color: #081b31;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 60px;
  color: #303841;
  cursor: default;
}
.user-score,
.comp-score {
  font-size: 5rem;
  color: #34495e;
}
.result {
  margin-top: 60px;
  margin-left: 450px;
  padding: 10px;
  width: 450px;
  background-color: #323643;
  color: #fafafa;
  font-size: 28px;
  text-align: center;
  border-radius: 5rem;
  cursor: default;
}
